:root {
	--p-color: #ffffff;
	--s-color: #e5e539;
	--n-color: #333333;
	--p-background: #334d5c;
	--s-background: #5cb85c;
	--d-background: #000000;
}

@font-face {
	font-family: 'Lemon';
	font-style: normal;
	font-weight: 400;
	src: local('Lemon Regular'), local('Lemon-Regular'), url('/source/font/lemon.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	background-color: var(--p-background);
	color: var(--p-color);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

nav {
	border-bottom: 1px solid var(--d-background);
}

main {
	background-image: url('/source/image/bg.png');
	color: var(--n-color);
	min-height: calc(100vh - 80px);
	padding: 1px;
}

main > p {
	background: var(--p-background);
	color: var(--p-color);
	max-width: min(100vw, 750px);
	margin: 24px auto;
	border-radius: 5px;
	padding: 5px;
}

main > img {
	display: block;
	max-width: 100vw;
	margin: 0 auto;
}

p {
	font-size: 21px;
}

h1 {
	font-family: 'Lemon', cursive;
	font-size: 63px;
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}

div {
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	max-width: min(100vw, 800px);
	margin: 0 auto;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

table a {
	color: var(--n-color);
	text-decoration: none;
}

td {
	border: 1px solid black;
	padding: 10px 28px;
	text-align: center;
}

small {
	font-size: 12px;
	font-variant: small-caps;
	font-weight: bold;
}

small > a {
	color: var(--s-color);
}

input {
	padding: 6px 12px;
	line-height: 1.4;
	border: 1px solid #cccccc;
	border-radius: 4px;
	width: min(90vw, 300px);
	display: block;
	margin: 22px auto;
}

button {
	display: block;
	cursor: pointer;
	border: 0;
	border-radius: 4px;
	padding: 9px 18px;
	color: var(--p-color);
	background: var(--s-background);
	margin: 0 auto;
}

ul, footer {
	max-width: min(100vw, 900px);
	margin: 0 auto;
}

li {
	cursor: pointer;
	display: inline-block;
} li:hover {
	background: var(--s-background);
} li.highlight {
	background: var(--s-background);
}

li > a {
	display: inline-block;
	color: var(--p-color);
	text-decoration: none;
	padding: 8px 14px;
}

footer p {
	font-size: 14px;
}
